.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product > mat-card {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 300px;
  margin: 20px;
  align-items: center;
  cursor: pointer;
}
mat-card:hover {
  box-shadow: 5px 5px 5px rgb(195, 195, 195);
}
.product > mat-card > img {
  object-fit: contain;
  height: 200px;
  width: 100%;
}
