.back-to-top {
  display: block;
  padding: 15px 0;
  background-color: #324052;
  color: #fff;
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}
.back-to-top:hover {
  letter-spacing: 2px;
  background-color: #485769;
}
.footer {
  height: fit-content;
  background-color: #232f3e;
  color: #dddddd;
}
.content {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  margin: 40px 0;
}
@media (max-width: 700px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
}
.top h3 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
.top p:hover {
  text-decoration: underline;
}
.image {
  text-align: center;
}
.footer-logo {
  width: 120px;
  margin: 10px;
}
