<a class="back-to-top" href="#top">Back To Top</a>
<div class="footer">
  <div class="content">
    <div class="top">
      <div>
        <h3>Get to Know Us</h3>
        <p>Careers</p>
        <p>Blog</p>
        <p>About Amazon</p>
        <p>Amazon Devices</p>
        <p>Amazon Science</p>
      </div>
      <div>
        <h3>Make Money with Us</h3>
        <p>Sell products on Amazon</p>
        <p>Sell on Amazon Business</p>
        <p>Sell apps on Amazon</p>
        <p>Become an Affiliate</p>
        <p>Advertise Your Products</p>
      </div>
      <div>
        <h3>Amazon Payment Products</h3>
        <p>Amazon Business Card</p>
        <p>Shop with Points</p>
        <p>About Amazon</p>
        <p>Reload Your Balance</p>
        <p>Amazon Currency Converter</p>
      </div>
      <div>
        <h3>Let Us Help You</h3>
        <p>Your Account</p>
        <p>Shipping Rates & Policies</p>
        <p>Returns & Replacements</p>
        <p>Amazon Assistant</p>
        <p>Help</p>
      </div>
    </div>
    <hr />
    <div class="bottom">
      <div class="image">
        <img
          src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
          class="footer-logo"
          alt=""
          routerLink=""
        />
      </div>
    </div>
  </div>
</div>
