<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <div
            class="carousel slide"
            data-ride="carousel"
            id="single-product-slider"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ products?.image }}" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{ products?.title }}</h2>
          <hr />
          <h3 class="product-price">
            Price:<br />
            {{ products?.price | currency }}
          </h3>
          <h3>
            Description:<br />
            {{ products?.desc }}
          </h3>
          <button class="btn" (click)="AddToCart(products)">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>
