<app-banner></app-banner>
<div
  id="carouselExampleControlsNoTouching"
  class="carousel slide"
  data-bs-touch="false"
  data-bs-interval="false"
>
  <div class="content">
    <h2>Products</h2>
    <p routerLink="/products">Shop Now</p>
  </div>
  <div class="other">
    <div class="carousel-inner">
      <div *ngFor="let product of products">
        <div class="carousel-item active">
          <img src="{{ product.image }}" alt="" class="product-image" />
        </div>
      </div>
    </div>
  </div>
</div>
