* {
  box-sizing: border-box;
  font-family: Arial, Tahoma, sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeded;
}

html,
body {
  height: 100%;
}
