.checkout {
  background: #eaeded;
  display: flex;
  width: 100%;
}
.checkout-left {
  flex: 1;
}
.checkout-empty {
  text-align: center;
  margin: 20px 20px 400px 20px;
}
.checkout-right {
  justify-content: flex-end;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .checkout {
    display: flex;
    flex-direction: column;
  }
}
